.content-grid-elements {
  height: 100vh;
  width: 100vw;

  $item-margin: 3px;

  &__item {
    margin: $item-margin;

    &:nth-of-type(4n+1),
    &:nth-of-type(4n+3) {
      float: left;
      height: calc(50% - #{$item-margin * 2});
      width: calc(30% - #{$item-margin * 2});
    }

    &:nth-of-type(4n+2),
    &:nth-of-type(4n+4) {
      float: right;
      width: calc(70% - #{$item-margin * 2});
    }

    &:nth-of-type(4n+2) {
      height: calc(60% - #{$item-margin * 2});
    }

    &:nth-of-type(4n+4) {
      height: calc(40% - #{$item-margin * 2});
    }
  }
}
